.info
  position: absolute
  top: calc(50% - 400px)
  left: calc(50% - 250px)
  height: 800px
  width: 500px
  background-color: black
  border-radius: 10px
  color: white
  h3
    font-size: 25px
  img
    margin: 10px
    width: 480px
    height: 600px
  .movieContent
    padding: 1px
    white-space: normal
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    overflow: hidden
    // text-overflow: ellipsis
    width: 90%
    height: 30px
    line-height: 17px
    margin: 10px
  button
    margin: 10px
  .count
    font-size: 25px