h1
  font-size: 30px
.cardContainer
  display: flex
  justify-content: center
  flex-wrap: wrap
  width: 100%
.infoDialog
  position: absolute
  top: calc(50% - 250px)
  left: calc(50% - 250px)
  width: 500px
  height: 500px
  background-color: black
  color: white
