header
  position: fixed
  display: flex
  width: 100%
  background-color: black
  height: 50px
  a
    color: white
    text-decoration: none
    &.active
      background-color: white
      color: black